body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.logo-nav {
    width: 100%;
    height: 70;
    background-color: black;
    position: fixed;
    top: 0;
    border-bottom: 1px solid seashell;
}

.img-logo {
    height: 50px;
    float: left;
    padding-left: 10px;
}

.nav {
    float: right;
    height: 100%;
    margin: 0 auto;
}

.nav a {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}

.nav a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-decoration: underline;
    color: white;
}

.mission {
    text-align: center;
    background-image: url("img-mission-background.jpeg");
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 10px auto;
    display: flex;
}

.mission-text {
    background-color: black;
    margin: auto;
    width: 100%;

}

.featured {
    display: inline-flex;
    text-align: center;
    max-width: 1000px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.featured-img img {
    height: 200px;
    width: 300px;
    padding: 10px;
}

.banner {
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 15px;
    background-image: url(img-locations-background.jpeg);
}

.banner-top {
    font-size: 43px;
    font-weight: bold;
}

.locations-container {
    max-width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.location-box {
    height: 300px;
    padding: 20px;
    margin-bottom: auto;
    opacity: 1;
}

footer {
    display: block;
    float: left;
    padding-left: 20px;
}